// Variáveis para cores e tamanhos
$bg-color: #dd092f;
$primary-color: #77b35b;
$secondary-color: #ffcb05;
$text-color: #ffffff;
$font-family: sans-serif;
$font-size-large: 27px;
$font-size-medium: 18px;
$border-radius: 8px;
$spacing-small: 10px;
$spacing-medium: 20px;

* {
  margin: 0;
  padding: 0;
  border: 0; /* Zera todas as bordas */
  outline: 0; /* Remove o contorno de foco */
  background: transparent; /* Remove o fundo padrão */
  box-shadow: none; /* Remove qualquer sombra padrão */
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $bg-color; /* Define a cor de fundo */
  overflow: hidden; /* Opcional: se você não quiser barras de rolagem */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

// Estilo para títulos h2
h2 {
  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size-large;
}

// Lista sem estilo padrão e com espaçamento removido
ul {
  list-style-type: none;
  padding: 0;

  li {
    background-color: $primary-color;
    margin: $spacing-small 0;
    padding: $spacing-small;
    border-radius: $border-radius;

    strong {
      color: $text-color;
      font-family: $font-family;
      font-weight: 700;
      font-size: $font-size-large;
    }

    a {
      color: $secondary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Estilo para a listagem dos Pokémon
.pokemon {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-small;

  img {
    width: 50px;
    height: 50px;
    margin-right: $spacing-small;
  }

  span {
    font-size: $font-size-medium;
  }
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
