<div class="search-container">
  <input type="text" placeholder="search eg. ditto or pikachu..." class="search-input" />
  <button class="search-button">
    <span class="icon">&#128269;</span>
  </button>
</div>

<div class="search-container">
  <input
    type="text"
    placeholder="search eg. ditto or pikachu..."
    class="search-input"
    [(ngModel)]="searchTerm"
    (keydown.enter)="onSearch()" />
  <button class="search-button" (click)="onSearch()">
    <span class="icon">&#128269;</span>
  </button>
</div>
